.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}
.collapsible.active + .collapsible-content {
  padding: 18px;
}
.collapsible + .collapsible-content {
  padding: 0 18px;
  transition: all .3s;
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: rgba(241, 241, 241, 0.2);
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.margin-t-16 {
  margin-top: 16px;
}
.margin-t-32 {
  margin-top: 32px;
}
.margin-t-64 {
  margin-top: 64px;
}
.margin-t-72 {
  margin-top: 72px;
}
.margin-t-80 {
  margin-top: 80px;
}

.margin-b-16 {
  margin-bottom: 16px;
}
.margin-b-32 {
  margin-bottom: 32px;
}
.margin-b-64 {
  margin-bottom: 64px;
}
.margin-b-72 {
  margin-bottom: 72px;
}
.margin-b-80 {
  margin-bottom: 80px;
}
.sh-card {
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
  background: #fff;
}
.bold {
  font-weight: 600;
}
.min-height {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.flex-1 {
  flex: 3;
}
.flex-2 {
  flex: 1;
}
.padding-16 {
  padding: 16px;
}