.logo b {
    color: #333;
}
.marginR-8 {
    margin-right: 8px;
}

/* photo */

.photo-app {
    padding: 32px;
    position: absolute;
    background: #fff;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    margin: auto;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.photo-app .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-app .header .btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-app .header .btn-close .upload-file {
    margin-right: 16px;
}

.photo-app .header .btn-close .ti-close {
    cursor: pointer;
    padding: 8px;
    border-radius: 100%;
    transition: all .3s;
}

.photo-app .header .btn-close .ti-close:hover {
    background: #888;
    color: #fff;
}

.photo-app .title-app {
    font-size: 32px;
}

.photo-app .content {
    margin: 32px 0;
    height: calc(100% - 100px);
    position: relative;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}

.photo-app .content .item {
    margin-bottom: 24px;
    cursor: pointer;
}

.photo-app .content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.photo-app .content::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
    border-radius: 10px;
}

.photo-app .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.3);
}

.photo-app-context-menu {
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    position: absolute;
    background: #fff;
    overflow: hidden;
    display: none;
    z-index: 1010;
}

.photo-app-context-menu p {
    text-transform: capitalize;
    color: #333;
    padding: 8px 32px;
    transition: all .3s;
    cursor: pointer;
    margin-bottom: 0;
}

.photo-app-context-menu p:hover {
    background: #333;
    color: #fff;
}

/* blog */
.panel-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel-toolbar .panel-action-bar {
    margin-right: 18px;
}
.panel .content {
    padding: 16px;
}
.panel .content .form-group {
    margin-bottom: 16px;
    display: flow-root;
}
.panel .content .title-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel .content .title-action>i {
    transition: all .3s;
    padding: 6px 4px 4px 5px;
    border-radius: 100%;
    cursor: pointer;
}
.panel .content .title-action>i:hover {
    background: #333;
    color: #fff;
}
.cover-blog {
    background: #fafafa;
    padding: 64px;
    font-size: 32px;
    text-align: center;
}
.cover-blog:hover {
    cursor: pointer;
}