.logo b {
    color: #333;
}

.marginR-8 {
    margin-right: 8px;
}


/* photo */

.photo-app {
    padding: 32px;
    position: fixed;
    background: #fff;
    width: 90%;
    height: calc(100vh - 15%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.photo-app .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-app .header .btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-app .header .btn-close .upload-file {
    margin-right: 16px;
}

.photo-app .header .btn-close .ti-close {
    cursor: pointer;
    padding: 8px;
    border-radius: 100%;
    transition: all 0.3s;
}

.photo-app .header .btn-close .ti-close:hover {
    background: #888;
    color: #fff;
}

.photo-app .title-app {
    font-size: 32px;
}

.photo-app .content {
    margin: 32px 0;
    height: calc(100% - 80px);
    position: relative;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}

.photo-app .content .item {
    margin-bottom: 24px;
    cursor: pointer;
}

.photo-app .content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.photo-app .content::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
    border-radius: 10px;
}

.photo-app .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.3);
}

.photo-app-context-menu {
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    background: #fff;
    overflow: hidden;
    display: none;
    z-index: 1010;
}

.photo-app-context-menu p {
    text-transform: capitalize;
    color: #333;
    padding: 8px 32px;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 0;
}

.photo-app-context-menu p:hover {
    background: #333;
    color: #fff;
}


/* blog */

.panel-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-toolbar .panel-action-bar {
    margin-right: 18px;
}

.panel .content {
    padding: 16px;
}

.panel .content .form-group {
    margin-bottom: 16px;
    display: flow-root;
}

.panel .content .title-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel .content .title-action>i {
    transition: all 0.3s;
    padding: 6px 4px 4px 5px;
    border-radius: 100%;
    cursor: pointer;
}

.panel .content .title-action>i:hover {
    background: #333;
    color: #fff;
}

.cover-blog {
    background: #fafafa;
    padding: 64px;
    font-size: 32px;
    text-align: center;
}

.cover-blog:hover {
    cursor: pointer;
}

#listElement.modal {
    overflow-y: hidden;
    height: 500px;
    margin: auto;
}

#listElement .modal-body {
    overflow-y: scroll;
    height: calc(500px - 88px);
    padding-top: 32px;
    padding-bottom: 32px;
}

#listElement ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#listElement li {
    display: block;
    margin-bottom: 16px;
    width: 25%;
    float: left;
}

#listElement li span {
    color: #fff;
    background: var(--admin-primary-color);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 16px;
    padding: 4px 16px;
}

#listElement li span:hover {
    color: #fff;
    background: #222;
}

.add-element-to-ui .item.child {
    margin-left: 32px;
}

.add-element-to-ui .item-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 32px;
    padding: 8px;
    border: 1px dotted #eee;
}

.add-element-to-ui .item-block .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.add-element-to-ui .item-block .toolbar .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-element-to-ui .item-block .toolbar .action>div {
    margin-right: 8px;
}

.add-element-to-ui .item-block h3 {
    margin-bottom: 8px;
    font-weight: 700;
}

.add-element-to-ui .item .form-group {
    display: inline-block;
    width: 100%;
}

.add-element-to-ui .style {
    width: 49%;
    float: left;
}

.add-element-to-ui .noi-dung {
    width: 49%;
    display: inline-block;
}

.add-element-to-ui .noi-dung label,
.add-element-to-ui .style label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* custom modal */

#listElement.custom-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    width: calc(100% - 50%);
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    height: calc(100vh - 40%);
    padding: 22px;
    margin: auto;
}

#listElement .custom-modal-content {
    display: inline-block;
    height: calc(calc(100vh - 40%) - 60%);
    overflow-y: scroll;
    padding: 18px;
}


/* source */

#add-type-sche .modal-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-content-ui-source .noi-dung .form-group,
.add-content-ui-source .style .form-group {
    width: 50%;
    float: left;
}

#review-lading-page {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    overflow-y: scroll;
}

#review-lading-page .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}