body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
 * Content
 */

[role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
}


/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.photo-manager .content {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1035;
    background: #fff;
    right: 0;
    bottom: 0;
    width: 60%;
    margin: auto;
    height: 90%;
    border-radius: 8px;
    padding: 16px;
    overflow: hidden;
}

.photo-manager-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1032;
    background: rgba(29, 29, 29, 0.863);
    right: 0;
    bottom: 0;
}

.photo-manager .content .list-photo {
    overflow-y: scroll;
    height: 82%;
}

.photo-manager .content .list-photo .item {
    margin-bottom: 16px;
}

.photo-manager #context-menu-photo {
    position: absolute;
    z-index: 2010;
    background: #fff;
    display: none;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.photo-manager #context-menu-photo p {
    margin-bottom: 0;
    padding: 16px;
    cursor: pointer;
    transition: all .3s;
}

.photo-manager #context-menu-photo p:hover {
    background: #007bff;
    color: #fff;
}